.socialMessangersForm {
  display: flex;
}

.socialMessangersInput {
  min-width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2E2F42;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  color: #FFFFFF;
}

.moviesSearchContainer {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;

}

.movieslist {
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}

.searchButtonIcon {
  width: 32px;
  height: 32px;
}

.moviesName {
  color: #fff;
  letter-spacing: -.64px;
  max-width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  overflow: hidden;
  text-decoration: none;
  padding-top: 8px;
  transition: color .25s linear;
}
.moviesName:hover {
  color:yellow  
}