.movieDetailsContainer {
    padding-left: 50px;
    margin-left: auto;
    margin-right: auto;
}

.comeBackLink {
    display: flex;
    align-items: center;
    gap: 8px;
  color: #fff;
  transition: color .25s linear;

}
.comeBackLink:hover{
    color: yellow;
}
.movieDetailsWrapper {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.MovieDetailsTitle {
    color: #fff;
    letter-spacing: -.64px;
    max-width: 180px;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.28;
}
 .MovieDetailsDescription{
    color: #fff;
    letter-spacing: -.64px;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.28;
    margin-bottom: 8px;
    
}
.MovieDetailsBtn{
    color: #111;
    letter-spacing: -.14px;
    text-transform: uppercase;
    background-color: yellow;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    justify-content: center;
    padding: 14px 28px;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    transition: background-color .25s linear;
    min-width: 120px
}
.MovieDetailsBtn:hover{
    color: yellow;
    background-color: #0000;
}
.MovieDetailsBtnFlex{
    display: flex;
    gap: 8px;
}