.icon {
    width: 120px;
    height: 180px;
}

.castList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

.castList {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    max-width: 1600px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.castListItem {
    max-width: 140px;
}

.castDescription {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    letter-spacing: -.64px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.28;
}